* {
	font-family: Corbel;
	font-size: 1.125rem;
}

body {
	margin: 8px;
}

#header {
	width: 100%;
	height: 66px;
	background-color: black;
}

.wrapper{
	width: 86%;
	height: 100%;
	background-color: black;
	margin: 0 auto;
}

.exlogo {
	float: left;
	height: 100%;
	line-height: 80px;
}

.menu {
	float: right;

	margin: 0;
	padding-left: 0;
	list-style-type: none;
	line-height: 66px;
}

.menu li {
	display: inline;
	margin-left: 44px;
	text-transform: uppercase;
	color: white;
}